
<style>
.descriptionView table {
  border: 1px #000000 solid;
  border-collapse: collapse;
}
.descriptionView td {
  border: 1px #000000 solid;
}
.descriptionView th {
  border: 1px #000000 solid;
}
.icon {
 cursor: pointer
}
.link {
  cursor: pointer;
  text-decoration: underline;
}
.tree-icon {
  display : none;
}
.tree-checkbox0 {
  opacity : 0.3;
}
.tree-checkbox1 {
  opacity : 1.0;
}
.tree-indent {
  opacity : 0.5;
}
.datagrid-row-selected  td {
  /*background: #ffe48d;*/
  /*background: #ffffff;*/
  /*color: #FF0000;*/
  /*font-weight : bold;*/
  background-color:rgba( 0, 0, 0, 0.2 );
  color : #000;
}
.datagrid-row-selected {
  /*background-color:rgba( 0, 0, 0, 0.1 );*/
  background: #ffffff;
}
.datagrid-row{
    height: 10px;
}
</style>

<div id="vue-main" class="vue-component">
  <div class="easyui-panel" style="width:100%;margin-bottom:5px;">
    <div id="dg" class="easyui-treegrid" style="width:100%"></div>
  </div>
  <div class="easyui-panel" style="width:100%;padding:5px;margin-bottom:5px;">
    <!-- Set to width:100% cause overflow when toggle sidebar -->

    <div style="display:flex;flex-flow: column nowrap;">
      <div class="field_container">
        <div class="field_header">Task CD</div>
        <div class="field_value" style="width: 85px;">
          <!-- <span>{{(row.task_cd)? row.task_cd : "NEW"}}</span> -->
          <input v-model="dispTaskCd" type="text" style="width:80px" readonly>
        </div>
        <div class="field_value">
          <a class="icon icon-stats-dots" v-bind:href="whiteboardAddress" style="cursor: pointer;font-size:16px"></a>
        </div>
      </div>

      <div class="field_container" style="width: 1000px">
        <div class="field_header">Name</div>
      </div>

      <div class="field_container" style="width:100%;">
        <div class="field_value" style="width:100%;">
          <input v-model="row.name" type="text" style="width:100%">
        </div>
      </div>

      <div class="field_container" style="width: 800px">
        <div class="field_header">Solution</div>
        <div class="field_value">
          <select name="category" v-model="row.solution_cd">
            <option v-for="category in key_value_solution" :value="category.value">
              {{ category.text }}
            </option>
          </select>
        </div>
        <div class="field_header">Type</div>
        <div class="field_value">
          <select name="category" v-model="row.task_type">
            <option v-for="category in key_value_task_type" :value="category.value">
              {{ category.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="field_container" style="width: 800px">
        <div class="field_header">Assigned to</div>
        <div class="field_value">
          <select name="category" v-model="row.user_cd">
            <option v-for="category in key_value_user" :value="category.value">
              {{ category.text }}
            </option>
          </select>
        </div>
        <div class="field_header">Priority</div>
        <div class="field_value">
          <select name="category" v-model="row.priority_type">
            <option v-for="category in key_value_task_priority_type" :value="category.value">
              {{ category.text }}
            </option>
          </select>
        </div>
      </div>

      <div class="field_container" style="width: 1000px">
        <div class="field_header">Status</div>
        <div class="field_value">
          <select name="category" v-model="row.status_type">
            <option v-for="category in key_value_task_status_type" :value="category.value">
              {{ category.text }}
            </option>
          </select>
        </div>
        <div class="field_header">Term</div>
        <div class="field_value" style="width:500px">
          <input id="dpStart" class="easyui-datetimebox" style="width:145px;">
          <span> --- </span>
          <input id="dpEnd" class="easyui-datetimebox" style="width:145px;">
        </div>
      </div>

      <div class="field_container" style="width:800px">
        <div class="field_header">Parent CD</div>
        <div class="field_value">
          <input v-model="row.parent_cd" type="text" style="width:140px">
          <span class="icon icon-copy" id="btnCopyTaskCd" style="cursor: pointer;font-size:16px"></span>
          <span class="icon icon-paste" id="btnPasteTaskCd" style="cursor: pointer;font-size:16px"></span>
        </div>
      </div>

      <div class="field_container">
        <div class="field_header">Related</div>
        <div class="field_value">
          <select name="category" v-model="relType">
            <option v-for="category in key_value_task_task_relation_type" :value="category.value">
              {{ category.text }}
            </option>
          </select>
          <input v-model="relTaskCd" type="text" style="width:80px">
          <span class="icon icon-link" v-on:click="linkTask"></span>
          <span>&nbsp;&nbsp;</span>
          <span class="icon icon-list" v-on:click="toggleRelated"></span>
        </div>
      </div>

      <div class="field_container" style="height:auto;width:100%;" v-show="showRelated">
        <div class="field_value" style="height:auto;width:100%;">
          <ul id="lsRelated">
            <li v-for="(item, index) in taskRelation">
              <span v-bind:class="relationStyle(item.rel_type)"></span>
              <span class="link" v-on:click="reloadTask(item.task_cd_b)">{{item.task_cd_b}}</span> : {{item.t_task.name}}
              <span class="icon icon-cancel-circle" v-on:click="unlinkTask(item.task_cd_a, item.task_cd_b, item.rel_type)"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="field_container" style="width:1000px">
        <div class="field_header">Created</div>
        <div class="field_value" style="width:300px">
          <span>{{row.created_by}}</span><span>&nbsp;</span><span>{{formatterDatetime(row.created)}}</span>
        </div>
        <div class="field_header">Updated</div>
        <div class="field_value" style="width:300px">
        <span>{{row.updated_by}}</span><span>&nbsp;</span><span>{{formatterDatetime(row.updated)}}</span>
        </div>
      </div>

      <div class="field_container">
        <div class="field_header">Description</div>
        <div class="field_value">
          <span class="icon icon-pencil" v-on:click="toggleDescriptionEdit"></span>
        </div>
      </div>

      <div class="field_container" style="width:100%;height:auto" v-show="showDescriptionView">
        <div class="field_value" style="width:100%">
          <textarea v-show="showDescriptionView" id="taDesc" v-model="row.description" type="text" style="width:100%"> </textarea>
        </div>
      </div>

      <div class="field_container" style="width:100%;height:auto">
        <div class="field_value" style="width:100%">
          <div class="easyui-panel descriptionView" v-html="markedDescription" style="padding:5px;width:100%;"> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="easyui-panel" style="width:100%;padding:5px;margin-bottom:5px;">
    <input id="btnRegister" type="button" value="Register" class="input-register"/>
    <input id="btnNew" type="button" value="New" class="input-register"/>
    <input id="btnCopy" type="button" value="Copy" class="input-register"/>
    <input id="btnDelete" type="button" value="Delete" class="input-register"/>
  </div>
</div>

<script type="text/javascript" src="/js/ex_datetimebox.js"></script>
<script type="text/javascript" src="/js/core_util.js"></script>

<script type="text/javascript">
  function mapper(field, map) {
    var col = field;
    var kv = {};
    for(var i = 0; i < map.length; i+=1) {
      kv[map[i]["value"]] = map[i]["text"];
    }

    return function(value,row,index) { return kv[row[col]]; }
  }

  function formatterDatetime(value, row, index) {
    return moment(value).format("YYYY/MM/DD HH:mm:ss");
  }

  $(document).ready(function() {
    autosize($('textarea'));

    $("#dpStart").datetimebox({
      onChange: function(newval, oldval) {
        vue.row.start_dt = newval;
      }
    });

    $("#dpEnd").datetimebox({
      onChange: function(newval, oldval) {
        vue.row.end_dt = newval;
        console.log("dp change");
        console.log(vue.row);
      }
    });

    $("#dpStart").datetimebox("setValue", moment().format("DD-MM-YYYY HH:mm"));
    $("#dpEnd").datetimebox("setValue", moment().add(7,"days").format("DD-MM-YYYY HH:mm"));


    $("#btnNew").click(function() {
      singleNew(vue, "row", $("#dg"), newRecord, "multiRowSelected");
    });

    $("#btnCopy").click(function() {
      singleNew(vue, "row", $("#dg"), copyRecord, "multiRowSelected");
    });

    $("#btnDelete").click(function() {
      if(vue.multiRowSelected) {
        batchDel(vue, "row", "rowSelections", $("#dg"), newRecord, "tasks");
      } else if(vue.row.task_cd !== "") {
        singleDel(vue, "tasks", "row", "task_cd", $("#dg"), newRecord);
      }
    });

    $("#btnRegister").click(function() {
      if(vue.multiRowSelected) {
        batchUpd(vue, "row", "rowSelections", $("#dg"), newRecord, "tasks");
      } else {
        var task_cd = vue.row.task_cd;
        var isInsert = (task_cd === "") || (task_cd == null) || (task_cd === undefined);
        var tg = $("#dg");
        singleInsUpd(vue, "row", tg, newRecord, "tasks", function(data) {
          if(isInsert) {
            tg.treegrid("reload");
            vue.reloadTask(data.data.task_cd);
            /* Filter by task_cd.
            var filter = tg.treegrid("getFilterComponent", "task_cd");
            tg.datagrid('removeFilterRule', "task_cd");
            tg.datagrid('addFilterRule', {
                field: "task_cd",
                op: 'contains',
                value: data.data.task_cd
            });
            tg.treegrid('doFilter');

            // var cd = data.data.task_cd;
            //$("#dg").treegrid("clearSelections");
            //$("#dg").treegrid("selectRecord", cd);
            // $("#dg").treegrid("select", cd);
            // var row = $("#dg").treegrid("getSelected");
            // vue.multiRowSelected = false;
            // vue.row = $.extend(true, {}, row);

            // tg.treegrid("selectAll");
            */
          } else {
            tg.treegrid("reload");
          }
        });
      }
    });

    $("#dg").treegrid({
      // url : '/tasks',
      method : 'get',
      sortName : "name",
      //sortOrder : 'asc',
      multiSort : true,
      remoteSort : true,
      ctrlSelect : true,
      remoteFilter : true,
      //pagination : false,
      pagination : true,
      //pageSize : 1,
      //pageList : [1, 2, 3, 4, 10,20],
      rownumbers:true,
      filterDelay : 700,
      idField : "task_cd",
      treeField : "name",
      lines:true,
      checkbox : true,
      columns : [[
        {field : 'solution_cd', title : 'Solution', sortable : true, formatter: mapper("solution_cd", <%= @key_value_solution %>)},
        {field : 'task_cd', title : 'Task CD', sortable : true, width:80, hidden:false},
        {field : 'name', title : 'Name', sortable : true, 
          formatter:function(value,row){
            var iconClass = "";
            if(row.task_type == "TT03PJ") {
              iconClass = "icon-stack";
            } 
            else if(row.task_type == "TT02BG") {
              iconClass = "icon-notification";
            }
            else {
              iconClass = "icon-ticket";
            }
            return '<span class="icon '+iconClass+'"></span>&nbsp;'+ row.task_cd + "&nbsp;&nbsp;&nbsp;" + value + ((row.children_all.length != row.children.length)? '&nbsp;<span class="icon icon-menu"></span>' : "");
          }
        },
        {field : 'task_type', title : 'Type', width : 90,  sortable : true, formatter: mapper("task_type", <%= @key_value_task_type %>), hidden:true},
        {field : 'status_type', title : 'Status', width: 110,sortable : true, formatter: mapper("status_type", <%= @key_value_task_status_type %>)},
        {field : 'priority_type', title : 'Priority', width: 110,sortable : true, formatter: mapper("priority_type", <%= @key_value_task_priority_type %>)},
        {field : 'description', title : 'Description', width: 500, sortable : true},
        {field : 'created', title : 'Created', sortable : true, formatter: formatterDatetime},
        {field : 'created_by', title : 'Created by', sortable : true},
        {field : 'updated', title : 'Updated', sortable : true, formatter: formatterDatetime},
        {field : 'updated_by', title : 'Updated by', sortable : true}
      ]],
      rowStyler: function(row){
        //return 'background-color:#6293BB;color:#fff;';
        if(row) {
          switch(row.priority_type) {
            case "TP01LS":
              return 'background-color:rgba( 0, 0, 255, 0.2 );';
              break;
            case "TP02LW":
              return 'background-color:rgba( 0, 0, 255, 0.1 );';
              break;
            case "TP03NM":
              return '';
              break;
            case "TP04HG":
              return 'background-color:rgba( 255, 0, 0, 0.2 );';
              break;
            case "TP05HS":
              return 'background-color:rgba( 255, 0, 0, 0.4 );';
              break;
            case "TP06UR":
              return 'background-color:rgba( 255, 0, 0, 0.7 );';
              break;
            default:
              return "";
              break;
          }
        } else {
          return "";
        }
      },
      onClickRow : function(row) {
        if($("#dg").treegrid("getSelections").length > 1) {
          vue.multiRowSelected = true;
          vue.row = blankRecordForBatchUpdate();
        } else {
          vue.multiRowSelected = false;
          vue.row = $.extend(true, {}, row);
        }

        vue.rowSelections = $("#dg").treegrid("getSelections");
      },
      onHeaderContextMenu: function(e, field){
        e.preventDefault();
        if (!cmenuHeader){
            createColumnMenu();
        }
        cmenuHeader.menu('show', {
            left:e.pageX,
            top:e.pageY
        });
      },
      onContextMenu: function(e, row){
        e.preventDefault();
        vue.contextRow = row;
        //if(vue.rowSelections.length == 0) { reutrn; }
        if (!cmenuRow){
            createRowMenu();
        }
        cmenuRow.menu('show', {
            left:e.pageX,
            top:e.pageY
        });
      },
      onLoadSuccess : function() {
        // if($("#dg").treegrid("getSelections").length > 0) {
        //   console.log($("#dg").treegrid("getSelections").length);

        //   if($("#dg").treegrid("getSelections").length > 1) {
        //     vue.multiRowSelected = true;
        //     vue.row = blankRecordForBatchUpdate();
        //     console.log($("#dg").treegrid("getSelections"));
        //   } else if($("#dg").treegrid("getSelections").length == 1) {
        //     var row = $("#dg").treegrid("getSelected");
        //     vue.multiRowSelected = false;
        //     vue.row = $.extend(true, {}, row);
        //     console.log(row);
        //   }

        // } else {
        //   vue.row = newRecord();
        // }

        // vue.rowSelections = $("#dg").treegrid("getSelections");

        if(($("#dg").treegrid("getSelections").length) == 1){
          var cd = ($("#dg").treegrid("getSelections")[0]).task_cd;
          $("#dg").treegrid("clearSelections");
          //$("#dg").treegrid("selectRecord", cd);
          $("#dg").treegrid("select", cd);
          var row = $("#dg").treegrid("getSelected");
          vue.multiRowSelected = false;
          vue.row = $.extend(true, {}, row);
        } else {
          $("#dg").treegrid("clearSelections");
        }
      }
    })
    .treegrid("enableFilter",
      [
        createMultiSelectFilter($("#dg"), "solution_cd", vue.key_value_solution),
        createMultiSelectFilter($("#dg"), "status_type", vue.key_value_task_status_type),
        createMultiSelectFilter($("#dg"), "task_type", vue.key_value_task_type),
        createMultiSelectFilter($("#dg"), "priority_type", vue.key_value_task_priority_type),
        //createLabelFilter("solution_cd"),
        createLabelFilter("created"),
        createLabelFilter("created_by"),
        createLabelFilter("updated"),
        createLabelFilter("updated_by")
      ]
    )
    .treegrid('addFilterRule', {
      field: "status_type",
      op: 'equal',
      value: "TS01NW,TS03FB,TS02PC,TS04PD,TS05RV"
    });

    $("#dg").treegrid("options").url = "/tasks";
    $("#dg").treegrid("load");
  });

  var cmenuHeader = null;
  function createColumnMenu(){
    cmenuHeader = $('<div/>').appendTo('body');
    cmenuHeader.menu({
      onClick: function(item){
        if (item.iconCls == 'icon-ok'){
          $('#dg').treegrid('hideColumn', item.name);
          cmenuHeader.menu('setIcon', {
            target: item.target,
            iconCls: 'icon-empty'
          });
        } else {
          $('#dg').treegrid('showColumn', item.name);
          cmenuHeader.menu('setIcon', {
            target: item.target,
            iconCls: 'icon-ok'
          });
        }
      }
    });
    var fields = $('#dg').treegrid('getColumnFields');
    for(var i=0; i<fields.length; i++){
      var field = fields[i];
      var col = $('#dg').treegrid('getColumnOption', field);
      cmenuHeader.menu('appendItem', {
        text: col.title,
        name: field,
        iconCls: (col.hidden)? 'icon-empty' : 'icon-ok'
      });
    }
  }

  var cmenuRow = null;
  function createRowMenu(){
    cmenuRow = $('<div/>').appendTo('body');
    cmenuRow.menu({
      onClick: function(item){
        console.log(item);
        //if (item.iconCls == 'icon-ok'){
        //  $('#dg').treegrid('hideColumn', item.name);
        //  cmenuRow.menu('setIcon', {
        //    target: item.target,
        //    iconCls: 'icon-empty'
        //  });
        //} else {
        //  $('#dg').treegrid('showColumn', item.name);
        //  cmenuRow.menu('setIcon', {
        //    target: item.target,
        //    iconCls: 'icon-ok'
        //  });
        //}
      }
    });
    // var fields = $('#dg').treegrid('getColumnFields');
    // for(var i=0; i<fields.length; i++){
    //   var field = fields[i];
    //   var col = $('#dg').treegrid('getColumnOption', field);
    //   cmenuRow.menu('appendItem', {
    //     text: col.title,
    //     name: field,
    //     iconCls: 'icon-ok'
    //   });
    // }

    // append a top menu item
    cmenuRow.menu('appendItem', {
      text: 'Status',
      // iconCls: 'icon-ok',
    });
    cmenuRow.menu('appendItem', {
      text: 'Set Task CD',
      onclick: function(item){
        vue.relTaskCd = vue.contextRow.task_cd;
      }
      // iconCls: 'icon-ok',
    });
    cmenuRow.menu('appendItem', {
      text: 'Set as parent',
      onclick: function(item){
        vue.row.parent_cd = vue.contextRow.task_cd;
      }
      // iconCls: 'icon-ok',
    });
    //cmenuRow.menu('appendItem', {
    //  text: 'Show all children',
    //  onclick: function(item){
    //    //var index = $("#dg").treegrid("getRowIndex", vue.contextRow);
    //    //vue.contextRow.children = vue.contextRow.children_all;
    //    $.ajax({
    //      type: "GET",
    //      url: "/tasks/"+vue.contextRow.task_cd,
    //      data: JSON.stringify({}),
    //      success: function(data, dataType) { 
    //        //defaultUpdtSuccessCallback(data, dataType);

    //        //if(data.success) {
    //          //treegrid.treegrid("update", {id:vue.contextRow.task_cd,row:data});
    //          $("#dg").treegrid("update", {id:vue.contextRow.task_cd,row:data});
    //        //  vue[propNameSelectedRow] = fnNewRecord();
    //        //}
    //      },
    //      //error: defaultUpdtErrorCallback,
    //      dataType: "json"
    //    });
    //  }
    //  // iconCls: 'icon-ok',
    //});
    // cmenuRow.menu('appendItem', {
    //   separator: true
    // });

    var parentItem = cmenuRow.menu('findItem', 'Status');
    cmenuRow.menu('appendItem', {
      parent: parentItem.target,
      text: 'New',
      onclick: function(){
        batchManualUpd("tasks", $("#dg"), [vue.contextRow] /*vue.rowSelections*/, {status_type : "TS01NW"});
      }
    });
    cmenuRow.menu('appendItem', {
      parent: parentItem.target,
      text: 'In Progress',
      onclick: function(){
        //batchManualUpd("tasks", $("#dg"), vue.rowSelections, {status_type : "TS-PC"});
        batchManualUpd("tasks", $("#dg"), [vue.contextRow] /*vue.rowSelections*/, {status_type : "TS02PC"});
      }
    });
    cmenuRow.menu('appendItem', {
      parent: parentItem.target,
      text: 'Feedback',
      onclick: function(){
        //batchManualUpd("tasks", $("#dg"), vue.rowSelections, {status_type : "TS-FB"});
        batchManualUpd("tasks", $("#dg"), [vue.contextRow] /*vue.rowSelections*/, {status_type : "TS03FB"});
      }
    });
    cmenuRow.menu('appendItem', {
      parent: parentItem.target,
      text: 'Pending',
      onclick: function(){
        //batchManualUpd("tasks", $("#dg"), vue.rowSelections, {status_type : "TS-PD"});
        batchManualUpd("tasks", $("#dg"), [vue.contextRow] /*vue.rowSelections*/, {status_type : "TS04PD"});
      }
    });
    cmenuRow.menu('appendItem', {
      parent: parentItem.target,
      text: 'Review',
      onclick: function(){
        //batchManualUpd("tasks", $("#dg"), vue.rowSelections, {status_type : "TS-RV"});
        batchManualUpd("tasks", $("#dg"), [vue.contextRow] /*vue.rowSelections*/, {status_type : "TS05RV"});
      }
    });
    cmenuRow.menu('appendItem', {
      parent: parentItem.target,
      text: 'Closed',
      onclick: function(){
        //batchManualUpd("tasks", $("#dg"), vue.rowSelections, {status_type : "TS-CL"});
        batchManualUpd("tasks", $("#dg"), [vue.contextRow] /*vue.rowSelections*/, {status_type : "TS06CL"});
      }
    });
  }
</script>
<script>
  function newRecord() {
    return { 
      solution_cd : "01",
      task_cd : "",
      task_type : "TT01TS",
      name : "",
      status_type : "TS01NW",
      description : "",
      priority_type : "TP03NM",
      created: "",
      created_by : "",
      updated: "",
      updated_by : "",
      parent_cd : "",
      start_dt : moment().format("DD-MM-YYYY HH:mm"),
      end_dt : moment().add(7,"days").format("DD-MM-YYYY HH:mm"),
      user_cd : "000"
    };
  }

  function copyRecord() {
    var source = vue.row;
    var record = newRecord();
    record.solution_cd = source.solution_cd;
    record.task_cd = null;
    record.task_type = source.task_type;
    record.name = source.name;
    record.status_type = "TS01NW";
    record.priority_type = source.priority_type;
    record.description = source.description;
    record.parent_cd = source.parent_cd;
    record.start_dt = source.start_dt;
    record.end_dt = source.end_dt;
    record.user_cd = source.user_cd;
    return record;
  }


  function blankRecordForBatchUpdate() {
    return { 
      solution_cd : "",
      task_cd : "",
      task_type : "",
      name : "",
      status_type : "",
      description : "",
      priority_type : "",
      created: "",
      created_by : "",
      updated: "",
      updated_by : "",
      parent_cd : "",
      start_dt : "",
      end_dt : "",
      user_cd : ""
    };
  }

  var vue = new Vue({
    el: '#vue-main',
    data: {
      key_value_task_status_type : <%= @key_value_task_status_type %>,
      key_value_task_type : <%= @key_value_task_type %>,
      key_value_task_priority_type : <%= @key_value_task_priority_type %>,
      key_value_solution : <%= @key_value_solution %>,
      key_value_task_task_relation_type : <%= @key_value_task_task_relation_type %>,
      key_value_user : <%= @key_value_user %>,
      row: newRecord(),
      descContent : "",
      multiRowSelected : false,
      rowSelections : null,
      showDescriptionView : false,
      showRelated : false,
      relTaskCd : "",
      relType : "TR01RR",
      contextRow : null
    },
    methods: {
      toggleDescriptionEdit : function() {
        this.showDescriptionView = !(this.showDescriptionView);
      },
      toggleRelated : function() {
        this.showRelated = !(this.showRelated);
      },
      openWhiteboard : function() {
        window.open('/view/whiteboard', '_blank');
      },
      linkTask : function () {
        $.ajax({
          type: "POST",
          url: "/link/task_task",
          data: JSON.stringify({taskCdA:vue.row.task_cd, taskCdB:vue.relTaskCd,relType:vue.relType}),
          success: function(data, dataType) { 
            if(data.success) {
              messageUpdateSuccess(data.message);
            } else {
              messageUpdateError(data.message);
            }
            $("#dg").treegrid("reload");
          },
          error: function() {
          },
          dataType: "json"
        });
      },
      unlinkTask : function(taskCdA,taskCdB,relType) {
        $.ajax({
          type: "POST",
          url: "/unlink/task_task",
          data: JSON.stringify({taskCdA:taskCdA, taskCdB:taskCdB,relType:relType}),
          success: function(data, dataType) { 
            if(data.success) {
              messageUpdateSuccess(data.message);
            } else {
              messageUpdateError(data.message);
            }
            $("#dg").treegrid("reload");
          },
          error: function() {
          },
          dataType: "json"
        });
      },
      reloadTask : function(taskCd) {
        console.log("****", taskCd);
        var self = this;

        $.ajax({
          type: "GET",
          url: "/tasks/"+taskCd,
          success: function(data, dataType) { 
            //if(data.success) {
              self.multiRowSelected = false;
              self.row = $.extend(true, {}, data);
            //} else {
            //  messageUpdateError("Retrieve information failed");
            //}
            console.log(data);
          },
          error: function() {
            messageUpdateError("Request failed");
          },
          dataType: "json"
        });
      },
      relationStyle : function(relType) {
        if(relType == "TR01RR") {
          return "icon icon-arrow-left";
        }
        if(relType == "TR02PR") {
          return "icon icon-arrow-up-left";
        }
        if(relType == "TR03CH") {
          return "icon icon-arrow-down-right";
        }
      },
      formatterDatetime : function(value) {
        var m = moment(value);
        return (m.isValid())? m.format("YYYY/MM/DD HH:mm:ss") : "";
      }
    },
    computed: {
      whiteboardAddress : function() {
        var task_cd = this.row.task_cd;
        if((task_cd != null) && (task_cd !== undefined) && (task_cd !== "")) {
          return "/view/whiteboard?whiteboard_cd=" + this.row.task_cd;
        } else {
          return "/view/whiteboard";
        }
      },
      markedDescription: function () {
        if(this.row) {
          return marked(this.row.description);
        } else {
          return "";
        }
      },
      taskRelation : function() {
        if(this.row !== null) {
          var infos = [];
          if(this.row.parent_task != null) {
            infos.push({task_cd_a : this.row.task_cd, task_cd_b : this.row.parent_cd, t_task : this.row.parent_task, rel_type : "TR02PR"});
          }
          if(this.row.children_all && this.row.children_all.length > 0) {
            for(var i = 0; i < this.row.children_all.length; i+=1) {
              infos.push({task_cd_a : this.row.task_cd, task_cd_b : this.row.children_all[i].task_cd, t_task : this.row.children_all[i], rel_type : "TR03CH"});
            }
          }
          if(this.row.t_task_task_rel != null) {
            for(var i = 0; i < this.row.t_task_task_rel.length; i+=1) {
              infos.push(this.row.t_task_task_rel[i]);
            }
          }
          return infos;
        } else {
          return [];
        }
      },
      dispTaskCd: function() {
        return (this.row.task_cd)? this.row.task_cd : "NEW";
      }
    },
    updated: function () {
      autosize.update($("textarea"))

      $("#dpStart").datetimebox("setValue", vue.row.start_dt);
      $("#dpEnd").datetimebox("setValue",  vue.row.end_dt);
    }
  });
</script>

